In [1]:
#10/12/2020
#DATA CLEARING
#In this exercise, i worked on DATA CLEARING
#file name : Donnees_CRM_Large-Data_(V3-01).xls, it is a customer fille of a bookshopp

import pandas as pd
file_path = "C:/Users/Patrick Menan/Desktop/TP1/Donnees_CRM_Large-Data_(V3-01).xls"
#pd.options.display.max_rows = 10
file = pd.read_excel(file_path, header = 1)

In [45]:
#data description for each numerical columns.
file.describe()

,Compte-Client,Panier moyen,Recence,Frequence,Achats du mois,Achats du trimestre,Achats du semestre,Achats de l'année,Age Client,Cumul livres enfants,Cumul livres ados,Cumul romans,Cumul livres d'art,Cumul livres bricolage,Cumul essais,Cumul livres historiques,Cumul livres scientifiques,Cumul livres géograohie,Cumul livres d'économie,Cumul livres de finances
count,49270.000000,49270.000000,49270.000000,49270.000000,49270.0,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000,49270.000000
mean,135987.600528,207.515648,13.350193,3.889101,0.0,20.147863,120.727767,607.246583,26.632231,0.851674,0.390420,0.937163,0.463893,0.310047,0.390380,0.545525,0.124254,0.036696,0.058210,0.090643
std,102031.493626,101.030168,8.112280,3.472289,0.0,93.050817,307.778836,866.424590,18.331209,1.114559,0.680237,1.183532,0.764679,0.601535,0.687473,0.844521,0.329875,0.188016,0.234142,0.287104
min,10002.000000,15.000000,2.000000,1.000000,0.0,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,34987.250000,128.000000,8.000000,1.000000,0.0,0.000000,0.000000,0.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136011.000000,208.000000,12.000000,2.000000,0.0,0.000000,0.000000,259.636364,22.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,237006.500000,282.000000,16.000000,6.000000,0.0,0.000000,0.000000,880.600000,36.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,262020.000000,479.000000,36.000000,12.000000,0.0,942.000000,1884.000000,3768.000000,99.000000,8.000000,6.000000,8.000000,7.000000,5.000000,5.000000,7.000000,1.000000,1.000000,1.000000,1.000000

In [44]:
#show number of rows and columns
file.shape

(49270, 21)

In [4]:
#return columns name
file.columns

Index(['Compte-Client', 'Sexe', 'Panier moyen', 'Recence', 'Frequence',
       'Achats du mois', 'Achats du trimestre', 'Achats du semestre',
       'Achats de l'année', 'Age Client', 'Cumul livres enfants',
       'Cumul livres ados', 'Cumul romans', 'Cumul livres d'art',
       'Cumul livres bricolage', 'Cumul essais', 'Cumul livres historiques',
       'Cumul livres scientifiques', 'Cumul livres géograohie',
       'Cumul livres d'économie', 'Cumul livres de finances'],
      dtype='object')

In [43]:
# the 5 first rows of our data set
file.head()

,Compte-Client,Sexe,Panier moyen,Recence,Frequence,Achats du mois,Achats du trimestre,Achats du semestre,Achats de l'année,Age Client,...,Cumul livres ados,Cumul romans,Cumul livres d'art,Cumul livres bricolage,Cumul essais,Cumul livres historiques,Cumul livres scientifiques,Cumul livres géograohie,Cumul livres d'économie,Cumul livres de finances
0,10166,F,27,12,1,0,0.0,0.0,324.0,12,...,0,1,0,0,0,0,0,0,0,0
1,10026,F,29,16,1,0,0.0,0.0,0.0,16,...,0,0,0,0,0,0,0,0,0,0
2,10224,F,33,12,1,0,0.0,0.0,396.0,12,...,1,0,0,0,0,0,0,0,0,0
3,10219,F,39,16,1,0,0.0,0.0,0.0,16,...,1,0,0,0,0,0,0,0,0,0
4,10144,M,44,12,2,0,0.0,0.0,264.0,20,...,0,2,0,0,0,0,0,0,0,0

In [42]:
#return True for duplicated entry and False for the others
file['Compte-Client'].duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
49265    False
49266    False
49267    False
49268    False
49269    False
Name: Compte-Client, Length: 49270, dtype: bool

In [8]:
#print duplicated entry of compte-client's column
file[file['Compte-Client'].duplicated(keep=False)]

,Compte-Client,Sexe,Panier moyen,Recence,Frequence,Achats du mois,Achats du trimestre,Achats du semestre,Achats de l'année,Age Client,...,Cumul livres ados,Cumul romans,Cumul livres d'art,Cumul livres bricolage,Cumul essais,Cumul livres historiques,Cumul livres scientifiques,Cumul livres géograohie,Cumul livres d'économie,Cumul livres de finances
9950,30180,F,160,2,2,0,240.0,480.0,960.0,4,...,0,0,0,1,0,0,0,1,0,0
9951,30180,M,244,16,8,0,0.0,0.0,0.0,38,...,1,0,2,1,0,2,0,1,0,0
22543,56016,M,60,30,3,0,0.0,0.0,0.0,42,...,0,0,1,0,1,1,0,0,0,0
22948,56016,F,323,10,2,0,0.0,0.0,1938.0,16,...,0,0,0,0,0,1,0,0,0,0
34585,232200,F,160,2,2,0,240.0,480.0,960.0,4,...,0,0,0,1,0,0,0,1,0,0
34586,232200,M,244,16,8,0,0.0,0.0,0.0,38,...,1,0,2,1,0,2,0,1,0,0
47349,258036,M,60,30,3,0,0.0,0.0,0.0,42,...,0,0,1,0,1,1,0,0,0,0
47350,258036,F,323,10,2,0,0.0,0.0,1938.0,16,...,0,0,0,0,0,1,0,0,0,0

In [9]:
# Keep duplicated value in "A_Regarder_De_Plus_Pres_v2" and show.
A_Regarder_De_Plus_Pres_v2=file[file['Compte-Client'].duplicated(keep=False)]
A_Regarder_De_Plus_Pres_v2

,Compte-Client,Sexe,Panier moyen,Recence,Frequence,Achats du mois,Achats du trimestre,Achats du semestre,Achats de l'année,Age Client,...,Cumul livres ados,Cumul romans,Cumul livres d'art,Cumul livres bricolage,Cumul essais,Cumul livres historiques,Cumul livres scientifiques,Cumul livres géograohie,Cumul livres d'économie,Cumul livres de finances
9950,30180,F,160,2,2,0,240.0,480.0,960.0,4,...,0,0,0,1,0,0,0,1,0,0
9951,30180,M,244,16,8,0,0.0,0.0,0.0,38,...,1,0,2,1,0,2,0,1,0,0
22543,56016,M,60,30,3,0,0.0,0.0,0.0,42,...,0,0,1,0,1,1,0,0,0,0
22948,56016,F,323,10,2,0,0.0,0.0,1938.0,16,...,0,0,0,0,0,1,0,0,0,0
34585,232200,F,160,2,2,0,240.0,480.0,960.0,4,...,0,0,0,1,0,0,0,1,0,0
34586,232200,M,244,16,8,0,0.0,0.0,0.0,38,...,1,0,2,1,0,2,0,1,0,0
47349,258036,M,60,30,3,0,0.0,0.0,0.0,42,...,0,0,1,0,1,1,0,0,0,0
47350,258036,F,323,10,2,0,0.0,0.0,1938.0,16,...,0,0,0,0,0,1,0,0,0,0

In [36]:
#Delete duplicate "Compte-Client" values on our data set
t = file.copy()
good_data = t.drop_duplicates(subset = "Compte-Client", keep=False)

In [37]:
#number of rows and columns in our new data set "good_data"
good_data.shape

(49262, 21)

In [23]:
# We worked now with data whithout duplicate "Compte-Client"
#"Age Client" colum's analysis
#file.describe()
age = good_data['Age Client']
age.describe()
# min (Age Client) = 2 
# max (Age Client) = 99
# mean (Age Client) = 26.632496

count    49262.000000
mean        26.632496
std         18.331600
min          2.000000
25%         14.000000
50%         22.000000
75%         36.000000
max         99.000000
Name: Age Client, dtype: float64

In [24]:
#median
from statistics import median
median(age)

22.0

In [38]:
#Values of Recence for which "Achats du semestre" is not null  
#If those values are less then are equal to 12 our point is checked
pd.crosstab(good_data['Recence'],good_data['Achats de l\'année']!=0)

Achats de l'année  False  True
Recence
2                      0   3618
4                      0   3742
6                      0   3598
8                      0   3756
10                     0   6126
12                     0   6064
14                  6210      0
16                  6194      0
18                  1076      0
20                   984      0
22                  1072      0
24                  1116      0
26                  1040      0
28                  1036      0
30                  1048      0
32                   998      0
34                  1064      0
36                   520      0

In [39]:
# Values of Recence for which "Achats du semestre" is not null  
# If those values are less then are equal to 6 our point is checked
pd.crosstab(good_data['Recence'],good_data['Achats du semestre']!=0)

Achats du semestre  False  True
Recence
2                       0   3618
4                       0   3742
6                       0   3598
8                    3756      0
10                   6126      0
12                   6064      0
14                   6210      0
16                   6194      0
18                   1076      0
20                    984      0
22                   1072      0
24                   1116      0
26                   1040      0
28                   1036      0
30                   1048      0
32                    998      0
34                   1064      0
36                    520      0

In [40]:
# Values of Recence for which "Achats du trimestre" is not null  
# If those values are less then are equal to 3, our point is Good
pd.crosstab(good_data['Recence'],good_data['Achats du trimestre']!=0)

Achats du trimestre  False  True
Recence
2                        0   3618
4                     3742      0
6                     3598      0
8                     3756      0
10                    6126      0
12                    6064      0
14                    6210      0
16                    6194      0
18                    1076      0
20                     984      0
22                    1072      0
24                    1116      0
26                    1040      0
28                    1036      0
30                    1048      0
32                     998      0
34                    1064      0
36                     520      0

In [41]:
#number of men and women in good_data 
#number of men -> True
#number of women -> False
(good_data['Sexe']=="M").value_counts()

False    34336
True     14926
Name: Sexe, dtype: int64