In [42]:
#10/12/2020
#DATA CLEARING
#In this exercise, i worked on DATA CLEARING
#file name : Donnees_CRM_Large-Data_(V3-01).xls, it is a customer fille of a bookshopp

import pandas as pd
file_path = "C:/Users/Patrick Menan/Desktop/TP1/Donnees_CRM_Large-Data_(V3-01).xls"
#pd.options.display.max_rows = 10
file = pd.read_excel(file_path, header = 1)

In [43]:
#data description
print(file.describe())

       Compte-Client  Panier moyen       Recence     Frequence  \
count   49270.000000  49270.000000  49270.000000  49270.000000
mean   135987.600528    207.515648     13.350193      3.889101
std    102031.493626    101.030168      8.112280      3.472289
min     10002.000000     15.000000      2.000000      1.000000
25%     34987.250000    128.000000      8.000000      1.000000
50%    136011.000000    208.000000     12.000000      2.000000
75%    237006.500000    282.000000     16.000000      6.000000
max    262020.000000    479.000000     36.000000     12.000000

       Achats du mois  Achats du trimestre  Achats du semestre  \
count         49270.0         49270.000000        49270.000000
mean              0.0            20.147863          120.727767
std               0.0            93.050817          307.778836
min               0.0             0.000000            0.000000
25%               0.0             0.000000            0.000000
50%               0.0             0.000000            0.000000
75%               0.0             0.000000            0.000000
max               0.0           942.000000         1884.000000

       Achats de l'année    Age Client  Cumul livres enfants  \
count       49270.000000  49270.000000          49270.000000
mean          607.246583     26.632231              0.851674
std           866.424590     18.331209              1.114559
min             0.000000      2.000000              0.000000
25%             0.000000     14.000000              0.000000
50%           259.636364     22.000000              1.000000
75%           880.600000     36.000000              1.000000
max          3768.000000     99.000000              8.000000

       Cumul livres ados  Cumul romans  Cumul livres d'art  \
count       49270.000000  49270.000000        49270.000000
mean            0.390420      0.937163            0.463893
std             0.680237      1.183532            0.764679
min             0.000000      0.000000            0.000000
25%             0.000000      0.000000            0.000000
50%             0.000000      1.000000            0.000000
75%             1.000000      1.000000            1.000000
max             6.000000      8.000000            7.000000

       Cumul livres bricolage  Cumul essais  Cumul livres historiques  \
count            49270.000000  49270.000000              49270.000000
mean                 0.310047      0.390380                  0.545525
std                  0.601535      0.687473                  0.844521
min                  0.000000      0.000000                  0.000000
25%                  0.000000      0.000000                  0.000000
50%                  0.000000      0.000000                  0.000000
75%                  0.000000      1.000000                  1.000000
max                  5.000000      5.000000                  7.000000

       Cumul livres scientifiques  Cumul livres géograohie  \
count                49270.000000             49270.000000
mean                     0.124254                 0.036696
std                      0.329875                 0.188016
min                      0.000000                 0.000000
25%                      0.000000                 0.000000
50%                      0.000000                 0.000000
75%                      0.000000                 0.000000
max                      1.000000                 1.000000

       Cumul livres d'économie  Cumul livres de finances
count             49270.000000              49270.000000
mean                  0.058210                  0.090643
std                   0.234142                  0.287104
min                   0.000000                  0.000000
25%                   0.000000                  0.000000
50%                   0.000000                  0.000000
75%                   0.000000                  0.000000
max                   1.000000                  1.000000

In [64]:
#show number of rows and columns
print(file.shape)

(49270, 21)

In [47]:
#return columns name
file.columns

Index(['Compte-Client', 'Sexe', 'Panier moyen', 'Recence', 'Frequence',
       'Achats du mois', 'Achats du trimestre', 'Achats du semestre',
       'Achats de l'année', 'Age Client', 'Cumul livres enfants',
       'Cumul livres ados', 'Cumul romans', 'Cumul livres d'art',
       'Cumul livres bricolage', 'Cumul essais', 'Cumul livres historiques',
       'Cumul livres scientifiques', 'Cumul livres géograohie',
       'Cumul livres d'économie', 'Cumul livres de finances'],
      dtype='object')

In [48]:
print(file.head())

   Compte-Client Sexe  Panier moyen  Recence  Frequence  Achats du mois  \
0          10166    F            27       12          1               0
1          10026    F            29       16          1               0
2          10224    F            33       12          1               0
3          10219    F            39       16          1               0
4          10144    M            44       12          2               0

   Achats du trimestre  Achats du semestre  Achats de l'année  Age Client  \
0                  0.0                 0.0              324.0          12
1                  0.0                 0.0                0.0          16
2                  0.0                 0.0              396.0          12
3                  0.0                 0.0                0.0          16
4                  0.0                 0.0              264.0          20

   ...  Cumul livres ados  Cumul romans  Cumul livres d'art  \
0  ...                  0             1                   0
1  ...                  0             0                   0
2  ...                  1             0                   0
3  ...                  1             0                   0
4  ...                  0             2                   0

   Cumul livres bricolage  Cumul essais  Cumul livres historiques  \
0                       0             0                         0
1                       0             0                         0
2                       0             0                         0
3                       0             0                         0
4                       0             0                         0

   Cumul livres scientifiques  Cumul livres géograohie  \
0                           0                        0
1                           0                        0
2                           0                        0
3                           0                        0
4                           0                        0

   Cumul livres d'économie  Cumul livres de finances
0                        0                         0
1                        0                         0
2                        0                         0
3                        0                         0
4                        0                         0

[5 rows x 21 columns]

In [50]:
print(file['Compte-Client'])

0         10166
1         10026
2         10224
3         10219
4         10144
          ...
49265    260051
49266    261002
49267    261650
49268    260340
49269    260254
Name: Compte-Client, Length: 49270, dtype: int64

In [59]:
#return True for duplicated entry and False for the others
print(file['Compte-Client'].duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
49265    False
49266    False
49267    False
49268    False
49269    False
Name: Compte-Client, Length: 49270, dtype: bool

In [63]:
#print duplicated entry of compte-client's column
file[file['Compte-Client'].duplicated(keep=False)]

,Compte-Client,Sexe,Panier moyen,Recence,Frequence,Achats du mois,Achats du trimestre,Achats du semestre,Achats de l'année,Age Client,...,Cumul livres ados,Cumul romans,Cumul livres d'art,Cumul livres bricolage,Cumul essais,Cumul livres historiques,Cumul livres scientifiques,Cumul livres géograohie,Cumul livres d'économie,Cumul livres de finances
9950,30180,F,160,2,2,0,240.0,480.0,960.0,4,...,0,0,0,1,0,0,0,1,0,0
9951,30180,M,244,16,8,0,0.0,0.0,0.0,38,...,1,0,2,1,0,2,0,1,0,0
22543,56016,M,60,30,3,0,0.0,0.0,0.0,42,...,0,0,1,0,1,1,0,0,0,0
22948,56016,F,323,10,2,0,0.0,0.0,1938.0,16,...,0,0,0,0,0,1,0,0,0,0
34585,232200,F,160,2,2,0,240.0,480.0,960.0,4,...,0,0,0,1,0,0,0,1,0,0
34586,232200,M,244,16,8,0,0.0,0.0,0.0,38,...,1,0,2,1,0,2,0,1,0,0
47349,258036,M,60,30,3,0,0.0,0.0,0.0,42,...,0,0,1,0,1,1,0,0,0,0
47350,258036,F,323,10,2,0,0.0,0.0,1938.0,16,...,0,0,0,0,0,1,0,0,0,0

In [74]:
#"Age Client" colum's analysis
#file.describe()
age = file['Age Client']
age.describe()
# min (Age Client) = 2 
# max (Age Client) = 99
# mean (Age Client) = 26.632231

count    49270.000000
mean        26.632231
std         18.331209
min          2.000000
25%         14.000000
50%         22.000000
75%         36.000000
max         99.000000
Name: Age Client, dtype: float64

In [75]:
#median
from statistics import median
median(age)

22.0

In [186]:
#values of Recence for which "Achats de l'année" is not null  
#if those values are less than or equal to 12 our point is checked
result = [file['Recence'][i]  for i in range(len(file)) if file['Achats de l\'année'][i]!=0]
set(result)

{2, 4, 6, 8, 10, 12}

In [187]:
#values of Recence for which "Achats du semestre" is not null  
#if those values are less then are equal to 6 our point is OK
result2 = [file['Recence'][i]  for i in range(len(file)) if file['Achats du semestre'][i]!=0]
set(result2)

{2, 4, 6}

In [188]:
#values of Recence for which "Achats du trimestre" is not null  
#if those values are less then are equal to 3, our point is Good
result3 = [file['Recence'][i]  for i in range(len(file)) if file['Achats du trimestre'][i]!=0]
set(result3)

{2}